[submodule "services/hackmd"]
	path = services/hackmd
	url = https://github.com/hackmdio/codimd-container.git
[submodule "services/sirius"]
	path = services/sirius
	url = https://github.com/WangYihang/Sirius
[submodule "services/ctf-wiki"]
	path = services/ctf-wiki
	url = https://github.com/ctf-wiki/ctf-wiki
