[submodule "services/hackmd"]
	path = services/hackmd
	url = https://github.com/hackmdio/codimd-container.git
[submodule "services/sirius"]
	path = services/sirius
	url = https://github.com/WangYihang/Sirius
[submodule "services/ctf-wiki"]
	path = services/ctf-wiki
	url = https://github.com/ctf-wiki/ctf-wiki
[submodule "services/wooyun"]
	path = services/wooyun
	url = https://github.com/jiji262/wooyun_articles
[submodule "services/Platypus"]
	path = services/Platypus
	url = https://github.com/WangYihang/Platypus.git
[submodule "services/Sirius"]
	path = services/Sirius
	url = https://github.com/WangYihang/Sirius.git
[submodule "services/Submittor"]
	path = services/Submittor
	url = https://github.com/WangYihang/Submittor.git
[submodule "services/Railgun"]
	path = services/Railgun
	url = https://github.com/WangYihang/Railgun.git
