[submodule "services/hackmd"]
	path = services/hackmd
	url = https://github.com/hackmdio/codimd-container.git
[submodule "services/sirius"]
	path = services/sirius
	url = https://github.com/WangYihang/Sirius
